<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <connectionStrings>
    <!--检测间隔时间，请输入时间间隔的纯数字（数字单位为秒，不小于10）-->
    <add name="timelag" connectionString="10"/>
    <!--检测图片的最小值，请输入图片大小的纯数字（数字单位为KB,不小于1）-->
    <add name="minSize" connectionString="1"/>
    <!--检测图片的最大值，请输入图片大小的纯数字（数字单位为KB）-->
    <add name="maxSize" connectionString="1"/>
    <!--错误图片记录路径-->
    <add name="errorPath" connectionString="D:\EqmsFileUploadService\Error\" />
    <!--需检测的图片路径,请写需要检测的图片的根目录-->
    <add name="imagePath" connectionString="E:\ResData\Photos\" />
  </connectionStrings>
</configuration>
